/* SINGLE BLOGPOST */

#post-container
{
  display: flex;
}

#blogpost
{
  display: flex;
  flex-direction: column;
  width: 70%;
  border-left: 1px solid #999;
}
#blogpost .card
{
  width: 100%;
}
#blogpost .card-image:hover
{
  box-shadow: none;
}

/* SIDEBAR */

/* #sidebar
{
  background: #333;
  flex: 1;
  padding: 8px 16px;
  color: white;
  box-shadow: inset 27px 0 51px -18px rgba(0, 0, 0, 0.75);

} */

@media (max-width:900px)
{
  #blogpost
  {
    width: 100%;
    border-left: 0;
  }
  #sidebar
  {
    display: none;
  }
}
